In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [9]:
# %pip install gdown
# import gdown as gd

In [10]:
# raw_link = 'https://drive.google.com/file/d/1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X/view?usp=drive_link'
# id = '1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X'

# gd.download(id = id, output = 'crime_work.csv', quiet=False)

# df1 = pd.read_csv('crime_work.csv', sep=',')
# df1.head()

In [11]:
# url = 'https://drive.google.com/file/d/1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X/view?usp=drive_link'
# id='1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X'
# gd.download(url,output='crime_work.csv',quiet=False)

# df1 = pd.read_csv('crime_work.csv', sep=',')
# df1.head()

In [12]:
# df1 = pd.read_csv('crime_work.csv', sep=',')
# df1.head()

<!-- df1 = pd.read_csv('crime_work.csv', sep=',')
df1.head() -->

In [13]:
# %pip install dask pyarrow
# import dask.dataframe as dd
# import pyarrow as pa

In [14]:
# #import lib for loading dataset
# import gdown
# import zipfile

# #importing the dataset from google drive
# raw_link = 'https://drive.google.com/file/d/1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X/view?usp=drive_link'
# id ='1ib1PWK_3oaaSfThqfnfSoPZq7vA1g33X'
# file_path = "crime.zip"

# #loading the dataset

# gdown.download(f"https://drive.google.com/uc?id={id}", file_path,quiet=False)

## Injesting the data

In [15]:
import kagglehub

path = kagglehub.dataset_download("utkarshx27/crimes-2001-to-present")

print("path to dataset files:", path)

path to dataset files: C:\Users\DELL\.cache\kagglehub\datasets\utkarshx27\crimes-2001-to-present\versions\1

In [16]:
df= pd.read_csv(r'C:\Users\DELL\.cache\kagglehub\datasets\utkarshx27\crimes-2001-to-present\versions\1\Crimes_-_2001_to_Present.csv')
# df.head(5)

## Pleliminary data analysis

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7784664 entries, 0 to 7784663
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

In [17]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [18]:
df.isna().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10381
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614848
Community Area          613476
FBI Code                     0
X Coordinate             86848
Y Coordinate             86848
Year                         0
Updated On                   0
Latitude                 86848
Longitude                86848
Location                 86848
dtype: int64

In [19]:
df.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,7.784664e+06,7.784664e+06,7.784617e+06,7.169816e+06,7.171188e+06,7.697816e+06,7.697816e+06,7.784664e+06,7.697816e+06,7.697816e+06
mean,7.026439e+06,1.185918e+03,1.129466e+01,2.275420e+01,3.748472e+01,1.164601e+06,1.885783e+06,2.009944e+03,4.184218e+01,-8.767149e+01
std,3.502657e+06,7.031335e+02,6.952422e+00,1.385106e+01,2.154115e+01,1.684658e+04,3.227531e+04,6.260628e+00,8.879598e-02,6.108257e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.792574e+06,6.210000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152976e+06,1.859073e+06,2.005000e+03,4.176871e+01,-8.771367e+01
50%,7.029327e+06,1.034000e+03,1.000000e+01,2.300000e+01,3.200000e+01,1.166110e+06,1.890730e+06,2.009000e+03,4.185591e+01,-8.766584e+01
75%,1.013113e+07,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176372e+06,1.909273e+06,2.015000e+03,4.190677e+01,-8.762819e+01
max,1.305643e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.023000e+03,4.202291e+01,-8.752453e+01

In [20]:
#Checking for missing values in case number
df[df['Case Number'].isna() == True]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
4981841,7049552,NaN,07/30/2009 03:00:00 AM,058XX N PAULINA ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,40.0,77.0,14,1164170.0,1938694.0,2009,02/28/2018 03:56:25 PM,41.987401,-87.671539,"(41.987401038, -87.671539153)"
5286601,7610078,NaN,07/16/2010 02:56:00 PM,005XX W VAN BUREN ST,0460,BATTERY,SIMPLE,SIDEWALK,True,False,...,2.0,28.0,08B,1172646.0,1898435.0,2010,02/10/2018 03:50:01 PM,41.876745,-87.641559,"(41.876744768, -87.641559043)"
5992794,8475075,NaN,02/08/2012 10:00:00 PM,032XX N KILDARE AVE,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,31.0,16.0,05,NaN,NaN,2012,05/04/2016 03:48:23 PM,NaN,NaN,NaN
7488610,7014449,NaN,07/10/2009 11:00:00 AM,082XX S HARPER AVE,0560,ASSAULT,SIMPLE,STREET,False,False,...,8.0,45.0,08A,1187910.0,1850555.0,2009,02/28/2018 03:56:25 PM,41.745008,-87.587042,"(41.74500765, -87.587041972)"

## Data Cleaning

In [22]:
df_copy = df.copy()

In [30]:
#drop missing values
df.dropna(inplace=True)

## Exploratory Data Analysis

In [24]:
df['Primary Type'].value_counts()

Primary Type
THEFT                                1642148
BATTERY                              1422913
CRIMINAL DAMAGE                       887266
NARCOTICS                             747633
ASSAULT                               507296
OTHER OFFENSE                         483642
BURGLARY                              424397
MOTOR VEHICLE THEFT                   375495
DECEPTIVE PRACTICE                    344940
ROBBERY                               292334
CRIMINAL TRESPASS                     214316
WEAPONS VIOLATION                     106418
PROSTITUTION                           69840
OFFENSE INVOLVING CHILDREN             55719
PUBLIC PEACE VIOLATION                 52325
SEX OFFENSE                            30683
CRIM SEXUAL ASSAULT                    27631
INTERFERENCE WITH PUBLIC OFFICER       18392
LIQUOR LAW VIOLATION                   14901
GAMBLING                               14618
ARSON                                  13249
HOMICIDE                               12548
KIDNAPPING                              7213
CRIMINAL SEXUAL ASSAULT                 6684
STALKING                                4789
INTIMIDATION                            4679
CONCEALED CARRY LICENSE VIOLATION       1080
OBSCENITY                                818
PUBLIC INDECENCY                         194
NON-CRIMINAL                             181
OTHER NARCOTIC VIOLATION                 149
HUMAN TRAFFICKING                        101
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: count, dtype: int64

In [29]:
df['Arrest'].value_counts()

Arrest
False    5749900
True     2034764
Name: count, dtype: int64